@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
    --primary-soft-blue: hsl(215, 51%, 70%);
    --primary-cyan: hsl(178, 100%, 50%);

    --main-dark-blue: hsl(217, 54%, 11%);
    --card-dark-blue: hsl(216, 50%, 16%);
    --line-dark-blue: hsl(215, 32%, 27%);
    --neutral-white: hsl(0, 0%, 100%); 
}

*{
    margin: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Outfit', sans-serif;
}

body{
    background: var(--main-dark-blue);
    width: 100%;
    /* height: 100vh; */
}

.main_container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 100vh;
}

.card {
    background: var(--card-dark-blue);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.223);
    border-radius: 20px;
    padding: 26px;
    height: 600px;
    width: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card_cover {
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsla(178, 100%, 50%, 0.648);
    background-image: url(/images/icon-view.svg);
    background-position: center;
    background-repeat: no-repeat; 
    border-radius: 12px;
    margin-bottom: 18px;
    cursor: pointer;
}

.card_img {
    height: 290px;
    width: 100%;
    border-radius: 10px;
}

.card_img:hover {
  opacity: 0.3;
  transition: .5s ease-in;
}

.card_dscr{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-bottom: 1px solid var(--primary-soft-blue);
}

.title {
    color: var(--neutral-white);
    font-size: 1.2rem;
    letter-spacing: 1px;
    cursor: pointer;
}

.title:hover{
    color: var(--primary-cyan);
    transition: .5s ease-in;
}

.text{
    color:var(--primary-soft-blue);
    font-size: 1rem;
    font-weight: 300;
}

.price_info {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.price {
    color: var(--primary-cyan);
    font-weight: 600;
}

.time {
    color: var(--primary-soft-blue);
    font-weight: 300;
}

.acc_info {
    display: flex;
    align-items: center;
    height: 18%;
    gap: 15px;    
    letter-spacing: 0.1px;
}

.acc_img {
    height: 45%;
    border: 0.2px solid var(--neutral-white);
    border-radius: 50px;
}

.acc_nick {
    color: var(--primary-soft-blue);
    font-weight: 300;
}

.acc_nick a {
    text-decoration: none;
    color: var(--neutral-white);
}

.acc_nick a:hover {
    color: var(--primary-cyan);
    transition: .5s ease-in;
}